@model WebApplicationServices.Models.Personaje

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Personaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heigth" class="control-label"></label>
                <input asp-for="Heigth" class="form-control" />
                <span asp-validation-for="Heigth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mass" class="control-label"></label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hair_color" class="control-label"></label>
                <input asp-for="Hair_color" class="form-control" />
                <span asp-validation-for="Hair_color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skin_color" class="control-label"></label>
                <input asp-for="Skin_color" class="form-control" />
                <span asp-validation-for="Skin_color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eye_color" class="control-label"></label>
                <input asp-for="Eye_color" class="form-control" />
                <span asp-validation-for="Eye_color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth_year" class="control-label"></label>
                <input asp-for="Birth_year" class="form-control" />
                <span asp-validation-for="Birth_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homeworld" class="control-label"></label>
                <input asp-for="Homeworld" class="form-control" />
                <span asp-validation-for="Homeworld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
